{{! Card }}

<div class="row">
  <div class="col s4" style="padding: 50px;">
    <div class="card" style="border-radius: 5px">
      <div class="card-image">
        {{! Placeholder. the filename for each game image will go here }}
        <img
          src="/assets/dark-souls.png"
          style="border-top-right-radius: 5px; border-top-left-radius: 5px"
        />
        {{! Placeholder. Game titles will go here }}
        <span
          class="card-title red darken-4"
          style="padding: 5px; border-radius: 5px; margin-bottom: 5px;"
        >Game Title</span>
        {{! modal will apear when this button is pressed to reveal posts and comments on the games }}
        <a
          datatarget="modal1"
          class="btn-floating modal-trigger halfway-fab waves-effect waves-light red"
        ><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        {{! Placeholders. Add the game info in this ares like release date, console, etc. }}
        <p>Souls games are not for children and for those with weak hearts and
          minds.</p>
        <hr />
        <p><strong>Platfrom: </strong>PC, Xbox 720, The Japanese</p>
        <p><strong>Release Date: </strong>1960</p>
      </div>
    </div>
  </div>
</div>

{{! Modal }}

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    {{!-- This is where posts and comments will go --}}
    <h4>Game Info</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>