body {
  font-family: "Rubik", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-y: scroll;
}

nav ul li a {
  color: #fff;
}

nav {
  border-radius: 5px;
}

.carousel {
  height: 400px;
  position: relative;
}

.carousel img {
  height: 300px;
  object-fit: cover;
}

.plus-sign-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  pointer-events: none;
  width: 100px;
  height: 100px;
}

.plus-sign-container img {
  width: 100%;
  height: auto;
}

.carousel-item:hover .plus-sign-container {
  display: block;
  opacity: 1;
}

.container {
  margin-top: 20px;
}

.custom-nav {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 1%;
}

.custom-brand-logo {
  margin-left: 20px;
}

.input-field input[type="text"]:focus {
  border-bottom-color: #f44336 !important;
  box-shadow: 0 1px 0 0 #f44336 !important;
}

.input-field input[type="text"]:focus+label {
  color: white !important;
}

.input-field input[type="text"] {
  color: white;
}

#dashboard {
  height: 650px;
  margin-top: 100px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#gameTitle {
  font-weight: bold;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* horizontal-offset vertical-offset blur-radius color */
}

#redProfileCard{
  border-radius: 10px;
  padding: 7px
}

#darkRedProfileCard{
  border-radius: 15px;
  padding: 20px;
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#cardCenterer{
  display: flex;
  justify-content: center;
}

#reviewTitle{
  color: rgb(235, 234, 234);
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#deleteButton {
  font-size: 12px; /* Adjust font size as needed */
  padding: 5px 8.25px; /* Adjust padding as needed */
  background-color: #474747; /* Red color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

#deleteButton:hover {
  background-color: #000000; /* Darken the background color on hover */
}
