body {
  font-family: "Rubik", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-y: scroll;
}

nav ul li a {
  color: #fff;
}

nav {
  border-radius: 5px;
}

.carousel {
  height: 400px;
  position: relative;
}

.carousel img {
  height: 300px;
  object-fit: cover;
}

.plus-sign-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  pointer-events: none;
  width: 100px;
  height: 100px;
}

.plus-sign-container img {
  width: 100%;
  height: auto;
}

.carousel-item:hover .plus-sign-container {
  display: block;
  opacity: 1;
}

.container {
  margin-top: 20px;
}

.custom-nav {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 1%;
}

.custom-brand-logo {
  margin-left: 20px;
}

.input-field input[type="text"]:focus {
  border-bottom-color: #f44336 !important;
  box-shadow: 0 1px 0 0 #f44336 !important;
}

.input-field input[type="text"]:focus+label {
  color: white !important;
}

.input-field input[type="text"] {
  color: white;
}

#dashboard {
  margin-left: 10%;
  width: 300px;
  height: 650px;
}

#month-carousel {
  height: 650px;
  width: 1200px;
}